/* HEADER STYLING */
header {
    text-align: right;
}
#search-form {
    display: inline-block;
    position: relative;
}
#search-form button {
    border: none;
    position: absolute;
    right: -5px;
    top: 2px;
}
#search-form button:hover {
    background-color: transparent;
}
#header-nav {
    display: inline-block;
    position: relative;
}
#header-nav li {
    display: inline-block;
    color: #013C44;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}
#header-nav a:hover {
    text-decoration: none;
}
#dropdownlist {
    background-color: #ffffff;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 2rem;
    text-align: right;
    border-radius: 4px;
}
#dropdownlist li {
    display: block;
}
#dropdownlist li:nth-child(n+2) {
    border-top: 1px solid #E9E9E7;
}
#dropdownlist li:hover {
    background-color: #C4EF7B;
}
/* SIDEBAR STYLING */
aside {
    position: relative;
    width: 20%;
    height: 100vh;
    position: fixed;
    background-color: #ffffff;
    text-align: center;
}
#logo {
    width: 60%;
    height: auto;
    margin: 10% 20%;
}
#add-form {
    display: inline-block;
    position: relative;
}
#add-form button {
    border: none;
    position: absolute;
    right: -5px;
    top: 2px;
}
#add-form button:hover {
    background-color: transparent;
}
#add-form input {

}
#searchContainer {
    text-align: left;
    color: #256100;
    margin-top: 0.3rem;
    margin-left: 22%;
    margin-right: 22%;
    border-radius: 5px;
}
#searchContainer li {
    padding: 0.3rem;
    border-bottom: 1px solid #E9E9E7;
}
.block a {
    display: block;
    width: 60%;
    border: none;
    border-radius: 4px;
    background-color: #C4EF7B;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 0.75em auto;
    padding: 0.5rem 1.5rem;
}

.block a:hover {
    background-color: #005b2d;
    color: #ffffff;
    text-decoration: none;
}


/* MAIN STYLING */
aside, header, main {
    /* border: 1px solid black; */
}
main {
    padding: 1em;
}
#main-container {
    width: 80%;
    margin-left: 20%;
}
#sort-form {
    text-align: right;
}
.terms-condition {
    text-align: center;
}
.item {
    position: relative;
    background-color: #ffffff;
    width: 25%;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 2px rgb(187, 178, 168);
    padding: 0.5em 1em;
    margin: 1em 1%;
}
.item-image {

    width: 20%;
    padding: 2%;
    background: white;
    display: inline-block;
    vertical-align: middle;
}
.item-image-red {
    border-radius: 50%;
    border: 1px solid #D10000;
}
.item-image-yellow {
    border-radius: 50%;
    border: 1px solid #D6AE2F;
}
.item-image-green {
    border-radius: 50%;
    border: 1px solid #256100;
}
.item-details {
    width: 65%;
    display: inline-block;
    vertical-align: middle;
    padding-left: 5%;
}
.item-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.875em;
    margin: 0.5em 0em;
    cursor: pointer;
}
.item-amount {
    font-size: 0.6em;
}
.item-title-main {
    border-bottom: 1px solid #E9E9E7;
}
.item-time {
    margin-top: 0;
}
.item-action {
    text-align: right;
}
.item-options {
    position: absolute;
    bottom: -2em;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #E9E9E7;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 2px rgb(187, 178, 168);
    text-align: center;
    margin: 0 auto;
    z-index: 5;
}
.item-options div {
    display: inline-block;
    width: 40%;
    padding: 0.1em 0.5em;
}
.item-options div:nth-child(n+2) {
    border-left: 1px solid #E9E9E7;
    margin: 0;
}
.action-options {
    position: absolute;
    right: 1em;
    top: 9em;
    width: 4.4em;
    background-color: #fff;
    border: 1px solid #E9E9E7;
    text-align: left;
    border-radius: 5px;
    z-index: 5;
}
.action-options button {
    padding: 0.1em 0.5em;
    background-color: #ffffff;
    border: none;
    width: 100%;
    text-align: left;
}
.action-options button:nth-child(n+2) {
    border-top: 1px solid #E9E9E7;
    margin: 0;
}
.action-options button:hover {
    background-color: #E9E9E7;
}
.item-red {
    border-top: 4px solid #D10000;
}
.item-yellow {
    border-top: 4px solid #D6AE2F;
}
.item-green {
    border-top: 4px solid #256100;
}
.foodcontainer {
  background-color: white;
  width: 275px;
  height: 126px;
  box-shadow: 1px 1px 1px #4E4A46;

}

.leftfoodcontainer {
  width: 100px;
  height: 100px;
  float: left;

}


.rightfoodcontainer {
  width: 100px;
  height: 100px;
  float: right;

}

.containerhr {
  width: 65%;
  float: right;
}


.foodcontainerbuttons {
  background-color: #E9E9E7;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.bg-grey {
    background-color: #e9e9e7;
}

.text-green {
    color: #256100;
}

.text-dark {
    color: #4e4a46;
}

.text-darkgreen {
    color: #013C44;
}

.text-light {
    color: #e9e9e7;
}

.btn-green {
    background-color: #C4EF7B;
    color: #013C44;
    border: 1px solid #C4EF7B;
    border-radius: 5px;
    padding: 0.2rem 1rem;
}

.form-popup {
    position: absolute;
    width: 20%;
    left: 40%;
    top: 40vh;
    border: 3px solid #f1f1f1;
    z-index: 9;
    padding: 1rem;
}

.form-inputs {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.popup-title {
    font-size: 1.5em;
}
.popup-group-btn {
    text-align: right;
}
.popup-btn {
    font-size: 1em;
    display: inline-block;
    text-align: center;
    line-height: 1.5em;
    border-radius: 4px;
    cursor: pointer;
}

.link-imitate {
    color: #256100;
    text-decoration: underline;
    cursor: pointer;
}


/* FOOTER STYLING */

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #E9E9E7;
    text-align: center;
}

/* GROCERY STORE */
.grocery-table {
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    background-color: white;
}

.grocery-table th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#grocery-search {
    margin-top: 5em;
}

#grocery-search input {
    width: 90%;
}

/* SETTINGS */
.form-padding {
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.about-padding {
    padding-left: 1em;
    padding-bottom: 0.5em;
}

.about-container {
    margin: 0 auto;
    align-items: center;
}

.about {
    background-color: #ffffff;
    width: 70%;
    min-height: 270px;
    max-height: 100%;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 1em;
    display: inline-block;
    vertical-align: top;
}

.contact {
    background-color: #ffffff;
    width: 20%;
    min-height: 270px;
    max-height: 100%;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 1em;
    display: inline-block;
    vertical-align: top;
}

.member-container {
    margin: 0 auto;
}

.member {
    background-color: #ffffff;
    width: 20%;
    min-height: 650px;
    max-height: 100%;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 1em;
    display: inline-block;
    vertical-align: top;
}

.img-responsive {
    width: 100%;
    height: auto;
}
